.container{
    height: 600px;
    width: 400px;
    border: 1px solid black;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    /* without dir column the it was looking like a column becuase each item were taking 50 % width + border but after column direction layout remain same but the margin or gap between the items disappeared. */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.items{
    background-color: pink;
    border: 1px solid black;
    padding: 20px;
    width: 50%;
    text-align: center;
}